<!doctype html>
<html lang="de" xmlns:th="http://www.thymeleaf.org"
      th:fragment="layout(content)">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title th:text="${title} ?: 'Dummy2Pro'">Dummy2Pro</title>

    <script src="https://cdn.tailwindcss.com"></script>
    <script>
        tailwind.config = {
            darkMode: 'class'
        }
    </script>
</head>

<body class="min-h-screen bg-slate-950 text-white">
    <div class="w-full">
        <th:block th:replace="${content}"></th:block>
    </div>
</body>

<style>
    html, body {
        margin: 0;
        padding: 0;
    }
</style>

</html>